.container-task {
    margin-top: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
  }

  .form-group label {
    font-weight: bold;
    color: #343a40;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  h2{
    margin-bottom: 30px;
    text-align: center;
  }